CDA-hai-ltcf-1.2/validation/CDAR2_IG_HAI_LTCF_R1_STU1_2.sch

<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--

THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL LANTANA CONSULTING GROUP LLC, OR ANY OF THEIR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
Schematron generated from Trifolia on 12/14/2023
-->
<sch:schema xmlns:voc="http://www.lantanagroup.com/voc" xmlns:svs="urn:ihe:iti:svs:2008" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sdtc="urn:hl7-org:sdtc" xmlns="urn:hl7-org:v3" xmlns:cda="urn:hl7-org:v3" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <sch:ns prefix="voc" uri="http://www.lantanagroup.com/voc" />
  <sch:ns prefix="svs" uri="urn:ihe:iti:svs:2008" />
  <sch:ns prefix="xsi" uri="http://www.w3.org/2001/XMLSchema-instance" />
  <sch:ns prefix="sdtc" uri="urn:hl7-org:sdtc" />
  <sch:ns prefix="cda" uri="urn:hl7-org:v3" />
  <sch:phase id="errors">
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-CLOSEDTEMPLATE" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-errors" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-CLOSEDTEMPLATE" />
  </sch:phase>
  <sch:phase id="warnings">
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-warnings" />
    <sch:active pattern="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-warnings" />
  </sch:phase>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-errors-abstract" abstract="true">
      <sch:assert id="a-4417-31024" test="count(cda:participant)=1">SHALL contain exactly one [1..1] participant (CONF:4417-31024).</sch:assert>
      <sch:assert id="a-4417-31025" test="cda:participant[count(cda:participantRole)=1]">This participant SHALL contain exactly one [1..1] participantRole (CONF:4417-31025).</sch:assert>
      <sch:assert id="a-4417-31026" test="cda:participant/cda:participantRole[count(cda:playingEntity)=1]">This participantRole SHALL contain exactly one [1..1] playingEntity (CONF:4417-31026).</sch:assert>
      <sch:assert id="a-4417-31027" test="cda:participant/cda:participantRole/cda:playingEntity[count(cda:code)=1]">This playingEntity SHALL contain exactly one [1..1] code, which SHALL be selected from ValueSet NHSNSpecimenTypeCode urn:oid:2.16.840.1.114222.4.11.3249 DYNAMIC (CONF:4417-31027).</sch:assert>
      <sch:assert id="a-4417-31031" test="@classCode='PROC'">SHALL contain exactly one [1..1] @classCode="PROC" Procedure (CodeSystem: HL7ActClass urn:oid:2.16.840.1.113883.5.6 STATIC) (CONF:4417-31031).</sch:assert>
      <sch:assert id="a-4417-31032" test="@moodCode='EVN'">SHALL contain exactly one [1..1] @moodCode="EVN" Event (CodeSystem: HL7ActMood urn:oid:2.16.840.1.113883.5.1001 STATIC) (CONF:4417-31032).</sch:assert>
      <sch:assert id="a-4417-31033" test="cda:participant[@typeCode='PRD']">This participant SHALL contain exactly one [1..1] @typeCode="PRD" Product (CodeSystem: HL7ParticipationType urn:oid:2.16.840.1.113883.5.90 STATIC) (CONF:4417-31033).</sch:assert>
      <sch:assert id="a-4417-31034" test="cda:participant/cda:participantRole[@classCode='SPEC']">This participantRole SHALL contain exactly one [1..1] @classCode="SPEC" Specimen (CodeSystem: HL7RoleClass urn:oid:2.16.840.1.113883.5.110 STATIC) (CONF:4417-31034).</sch:assert>
      <sch:assert id="a-4417-31060" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.2'][@extension='2019-08-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4417-31060) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.3.2" (CONF:4417-31061). SHALL contain exactly one [1..1] @extension="2019-08-01" (CONF:4417-31062).</sch:assert>
      <sch:assert id="a-4417-31368" test="count(cda:effectiveTime)=1">SHALL contain exactly one [1..1] effectiveTime (CONF:4417-31368).</sch:assert>
      <sch:assert id="a-4417-31369" test="cda:effectiveTime[count(cda:low)=1]">This effectiveTime SHALL contain exactly one [1..1] low (CONF:4417-31369).</sch:assert>
      <sch:assert id="a-4417-31396" test="count(cda:code)=1">SHALL contain exactly one [1..1] code (CONF:4417-31396).</sch:assert>
      <sch:assert id="a-4417-31397" test="cda:code[@code='17636008' and @codeSystem='2.16.840.1.113883.6.96']">This code SHALL contain exactly one [1..1] @code="17636008" Specimen collection (procedure) (CodeSystem: SNOMED CT urn:oid:2.16.840.1.113883.6.96) (CONF:4417-31397).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-errors" context="cda:procedure[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.2' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4417-11718-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.3.2' and @extension = '2019-08-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.2:2019-08-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-errors-CL" context="cda:procedure[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.2' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-errors-abstract" abstract="true">
      <sch:assert id="a-4417-31038" test="count(cda:entryRelationship[@typeCode='COMP'][count(cda:procedure[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.2' and @extension='2019-08-01']])=1])=1">SHALL contain exactly one [1..1] entryRelationship (CONF:4417-31038) such that it SHALL contain exactly one [1..1] Specimen Collection Procedure in a Lab Identified Report LTCF (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.2:2019-08-01) (CONF:4417-31039). SHALL contain exactly one [1..1] @typeCode="COMP" Has component (CodeSystem: HL7ActRelationshipType urn:oid:2.16.840.1.113883.5.1002) (CONF:4417-31047).</sch:assert>
      <sch:assert id="a-4417-31040" test="count(cda:code)=1">SHALL contain exactly one [1..1] code (CONF:4417-31040).</sch:assert>
      <sch:assert id="a-4417-31041" test="count(cda:statusCode)=1">SHALL contain exactly one [1..1] statusCode (CONF:4417-31041).</sch:assert>
      <sch:assert id="a-4417-31043" test="count(cda:id)=1">SHALL contain exactly one [1..1] id (CONF:4417-31043).</sch:assert>
      <sch:assert id="a-4417-31046" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.22.4.2'])=1">SHALL contain exactly one [1..1] templateId (CONF:4417-31046) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.22.4.2" (CONF:4417-31058).</sch:assert>
      <sch:assert id="a-4417-31048" test="cda:code[@code='41852-5']">This code SHALL contain exactly one [1..1] @code="41852-5" Microorganism identified (CONF:4417-31048).</sch:assert>
      <sch:assert id="a-4417-31049" test="cda:code[@codeSystem='2.16.840.1.113883.6.1']">This code SHALL contain exactly one [1..1] @codeSystem="2.16.840.1.113883.6.1" (CodeSystem: LOINC urn:oid:2.16.840.1.113883.6.1) (CONF:4417-31049).</sch:assert>
      <sch:assert id="a-4417-31050" test="cda:statusCode[@code='completed']">This statusCode SHALL contain exactly one [1..1] @code="completed" Completed (CodeSystem: HL7ActStatus urn:oid:2.16.840.1.113883.5.14 STATIC) (CONF:4417-31050).</sch:assert>
      <sch:assert id="a-4417-31052" test="cda:id[@nullFlavor='NA']">This id SHALL contain exactly one [1..1] @nullFlavor="NA" (CONF:4417-31052).</sch:assert>
      <sch:assert id="a-4417-31053" test="@classCode='OBS'">SHALL contain exactly one [1..1] @classCode="OBS" Observation (CodeSystem: HL7ActClass urn:oid:2.16.840.1.113883.5.6 STATIC) (CONF:4417-31053).</sch:assert>
      <sch:assert id="a-4417-31054" test="@moodCode='EVN'">SHALL contain exactly one [1..1] @moodCode="EVN" Event (CodeSystem: HL7ActMood urn:oid:2.16.840.1.113883.5.1001 STATIC) (CONF:4417-31054).</sch:assert>
      <sch:assert id="a-4417-31055" test="count(cda:value[@xsi:type='CD'])=1">SHALL contain exactly one [1..1] value with @xsi:type="CD", where the code SHALL be selected from ValueSet NHSNSignificantPathogenCode urn:oid:2.16.840.1.114222.4.11.3194 DYNAMIC (CONF:4417-31055).</sch:assert>
      <sch:assert id="a-4417-31056" test="count(cda:effectiveTime)=1">SHALL contain exactly one [1..1] effectiveTime (CONF:4417-31056).</sch:assert>
      <sch:assert id="a-4417-31421" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.3'][@extension='2019-08-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4417-31421) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.3.3" (CONF:4417-31422). SHALL contain exactly one [1..1] @extension="2019-08-01" (CONF:4417-31423).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-errors" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.3' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4417-11719-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.3.3' and @extension = '2019-08-01') and @root != '2.16.840.1.113883.10.20.22.4.2' and not(@root = '2.16.840.1.113883.10.20.5.1.3.2' and @extension = '2019-08-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.3:2019-08-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-errors-CL" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.3' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-errors-abstract" abstract="true">
      <sch:assert id="a-4417-31063" test="count(cda:entry[count(cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.3' and @extension='2019-08-01']])=1])=1">SHALL contain exactly one [1..1] entry (CONF:4417-31063) such that it SHALL contain exactly one [1..1] Pathogen Identified Observation in a Lab Identified Report LTCF (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.3:2019-08-01) (CONF:4417-31064).</sch:assert>
      <sch:assert id="a-4417-31065" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.1'][@extension='2019-08-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4417-31065) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.2.1" (CONF:4417-31067). SHALL contain exactly one [1..1] @extension="2019-08-01" (CONF:4417-31068).</sch:assert>
      <sch:assert id="a-4417-31066" test="count(cda:code)=1">SHALL contain exactly one [1..1] code (CONF:4417-31066).</sch:assert>
      <sch:assert id="a-4417-31069" test="cda:code[@code='18769-0']">This code SHALL contain exactly one [1..1] @code="18769-0" Findings Section (CONF:4417-31069).</sch:assert>
      <sch:assert id="a-4417-31070" test="cda:code[@codeSystem='2.16.840.1.113883.6.1']">This code SHALL contain exactly one [1..1] @codeSystem="2.16.840.1.113883.6.1" (CodeSystem: LOINC urn:oid:2.16.840.1.113883.6.1) (CONF:4417-31070).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-errors" context="cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.1' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4417-11720-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.2.1' and @extension = '2019-08-01') and @root != '2.16.840.1.113883.10.20.5.4.26' and not(@root = '2.16.840.1.113883.10.20.5.1.3.3' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.2' and @extension = '2019-08-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.2.1:2019-08-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-errors-CL" context="cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.1' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-errors-abstract" abstract="true">
      <sch:assert id="a-4417-31072" test="count(cda:id[@nullFlavor='NA'])=1">SHALL contain exactly one [1..1] id (CONF:4417-31072) such that it SHALL contain exactly one [1..1] @nullFlavor="NA" (CONF:4417-31078).</sch:assert>
      <sch:assert id="a-4417-31073" test="count(cda:code)=1">SHALL contain exactly one [1..1] code (CONF:4417-31073).</sch:assert>
      <sch:assert id="a-4417-31074" test="count(cda:effectiveTime)=1">SHALL contain exactly one [1..1] effectiveTime (CONF:4417-31074).</sch:assert>
      <sch:assert id="a-4417-31077" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.22.4.49'])=1">SHALL contain exactly one [1..1] templateId (CONF:4417-31077) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.22.4.49" (CONF:4417-31086).</sch:assert>
      <sch:assert id="a-4417-31079" test="cda:code[@code='1373-0']">This code SHALL contain exactly one [1..1] @code="1373-0" Date first admitted to facility (CONF:4417-31079).</sch:assert>
      <sch:assert id="a-4417-31083" test="@classCode='ENC'">SHALL contain exactly one [1..1] @classCode="ENC" Encounter (CodeSystem: HL7ActClass urn:oid:2.16.840.1.113883.5.6 STATIC) (CONF:4417-31083).</sch:assert>
      <sch:assert id="a-4417-31084" test="@moodCode='EVN'">SHALL contain exactly one [1..1] @moodCode="EVN" Event (CodeSystem: HL7ActMood urn:oid:2.16.840.1.113883.5.1001 STATIC) (CONF:4417-31084).</sch:assert>
      <sch:assert id="a-4417-31088" test="cda:effectiveTime[count(cda:low)=1]">This effectiveTime SHALL contain exactly one [1..1] low (CONF:4417-31088).</sch:assert>
      <sch:assert id="a-4417-31395" test="cda:code[@codeSystem='2.16.840.1.113883.6.277']">This code SHALL contain exactly one [1..1] @codeSystem="2.16.840.1.113883.6.277" (CodeSystem: CDCNHSN urn:oid:2.16.840.1.113883.6.277) (CONF:4417-31395).</sch:assert>
      <sch:assert id="a-4417-31424" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.4'][@extension='2019-08-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4417-31424) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.3.4" (CONF:4417-31425). SHALL contain exactly one [1..1] @extension="2019-08-01" (CONF:4417-31426).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-errors" context="cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.4' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4417-11721-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.3.4' and @extension = '2019-08-01') and @root != '2.16.840.1.113883.10.20.22.4.49'])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.4:2019-08-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-errors-CL" context="cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.4' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-errors-abstract" abstract="true">
      <sch:assert id="a-4417-31089" test="count(cda:entry[count(cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.4' and @extension='2019-08-01']])=1])=1">SHALL contain exactly one [1..1] entry (CONF:4417-31089) such that it SHALL contain exactly one [1..1] First Admission Encounter in a Lab Identified Report LTCF (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.4:2019-08-01) (CONF:4417-31090).</sch:assert>
      <sch:assert id="a-4417-31091" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.2'][@extension='2019-08-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4417-31091) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.2.2" (CONF:4417-31097). SHALL contain exactly one [1..1] @extension="2019-08-01" (CONF:4417-31098).</sch:assert>
      <sch:assert id="a-4417-31092" test="count(cda:code)=1">SHALL contain exactly one [1..1] code (CONF:4417-31092).</sch:assert>
      <sch:assert id="a-4417-31093" test="count(cda:entry[count(cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.5' and @extension='2019-08-01']])=1])=1">SHALL contain exactly one [1..1] entry (CONF:4417-31093) such that it SHALL contain exactly one [1..1] Transfer From Acute Care Facility to LTCF in Past Four Weeks (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.5:2019-08-01) (CONF:4417-31394).</sch:assert>
      <sch:assert id="a-4417-31099" test="cda:code[@code='46240-8']">This code SHALL contain exactly one [1..1] @code="46240-8" History of Encounters (CONF:4417-31099).</sch:assert>
      <sch:assert id="a-4417-31100" test="cda:code[@codeSystem='2.16.840.1.113883.6.1']">This code SHALL contain exactly one [1..1] @codeSystem="2.16.840.1.113883.6.1" (CodeSystem: LOINC urn:oid:2.16.840.1.113883.6.1) (CONF:4417-31100).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-errors" context="cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.2' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4417-11722-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.2.2' and @extension = '2019-08-01') and @root != '2.16.840.1.113883.10.20.5.4.26' and not(@root = '2.16.840.1.113883.10.20.5.1.3.4' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.5' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.12' and @extension = '2019-08-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.2.2:2019-08-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-errors-CL" context="cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.2' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-errors-abstract" abstract="true">
      <sch:assert id="a-4417-31224" test="count(cda:code)=1">SHALL contain exactly one [1..1] code (CONF:4417-31224).</sch:assert>
      <sch:assert id="a-4417-31225" test="count(cda:statusCode)=1">SHALL contain exactly one [1..1] statusCode (CONF:4417-31225).</sch:assert>
      <sch:assert id="a-4417-31226" test="count(cda:value[@xsi:type='BL'])=1">SHALL contain exactly one [1..1] value with @xsi:type="BL" (CONF:4417-31226).</sch:assert>
      <sch:assert id="a-4417-31227" test="@classCode='OBS'">SHALL contain exactly one [1..1] @classCode="OBS" Observation (CodeSystem: HL7ActClass urn:oid:2.16.840.1.113883.5.6 STATIC) (CONF:4417-31227).</sch:assert>
      <sch:assert id="a-4417-31228" test="@moodCode='EVN'">SHALL contain exactly one [1..1] @moodCode="EVN" Event (CodeSystem: HL7ActMood urn:oid:2.16.840.1.113883.5.1001 STATIC) (CONF:4417-31228).</sch:assert>
      <sch:assert id="a-4417-31230" test="cda:code[@code='1375-5']">This code SHALL contain exactly one [1..1] @code="1375-5" Resident on antibiotic therapy for this specific organism at the time of transfer (CONF:4417-31230).</sch:assert>
      <sch:assert id="a-4417-31231" test="cda:statusCode[@code='completed']">This statusCode SHALL contain exactly one [1..1] @code="completed" Completed (CodeSystem: HL7ActStatus urn:oid:2.16.840.1.113883.5.14 STATIC) (CONF:4417-31231).</sch:assert>
      <sch:assert id="a-4417-31235" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.12'][@extension='2019-08-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4417-31235) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.3.12" (CONF:4417-31236). SHALL contain exactly one [1..1] @extension="2019-08-01" (CONF:4417-31237).</sch:assert>
      <sch:assert id="a-4417-31388" test="cda:code[@codeSystem='2.16.840.1.113883.6.277']">This code SHALL contain exactly one [1..1] @codeSystem="2.16.840.1.113883.6.277" (CodeSystem: CDCNHSN urn:oid:2.16.840.1.113883.6.277 STATIC) (CONF:4417-31388).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-errors" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.12' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4417-11750-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.3.12' and @extension = '2019-08-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.12:2019-08-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-errors-CL" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.12' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-errors-abstract" abstract="true">
      <sch:assert id="a-4417-31370" test="count(cda:code)=1">SHALL contain exactly one [1..1] code (CONF:4417-31370).</sch:assert>
      <sch:assert id="a-4417-31371" test="count(cda:statusCode)=1">SHALL contain exactly one [1..1] statusCode (CONF:4417-31371).</sch:assert>
      <sch:assert id="a-4417-31372" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.5'][@extension='2019-08-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4417-31372) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.3.5" (CONF:4417-31378). SHALL contain exactly one [1..1] @extension="2019-08-01" (CONF:4417-31379).</sch:assert>
      <sch:assert id="a-4417-31373" test="cda:code[@code='1374-8']">This code SHALL contain exactly one [1..1] @code="1374-8"  Resident transferred from acute care facility in past 4 weeks (CONF:4417-31373).</sch:assert>
      <sch:assert id="a-4417-31374" test="cda:statusCode[@code='completed']">This statusCode SHALL contain exactly one [1..1] @code="completed" Completed (CodeSystem: HL7ActStatus urn:oid:2.16.840.1.113883.5.14 STATIC) (CONF:4417-31374).</sch:assert>
      <sch:assert id="a-4417-31375" test="count(cda:value[@xsi:type='BL'])=1">SHALL contain exactly one [1..1] value with @xsi:type="BL" (CONF:4417-31375).</sch:assert>
      <sch:assert id="a-4417-31376" test="@classCode='OBS'">SHALL contain exactly one [1..1] @classCode="OBS" Observation (CodeSystem: HL7ActClass urn:oid:2.16.840.1.113883.5.6 STATIC) (CONF:4417-31376).</sch:assert>
      <sch:assert id="a-4417-31377" test="@moodCode='EVN'">SHALL contain exactly one [1..1] @moodCode="EVN" Event (CodeSystem: HL7ActMood urn:oid:2.16.840.1.113883.5.1001 STATIC) (CONF:4417-31377).</sch:assert>
      <sch:assert id="a-4417-31380" test="count(cda:effectiveTime)=1">SHALL contain exactly one [1..1] effectiveTime (CONF:4417-31380).</sch:assert>
      <sch:assert id="a-4417-31382" test="not(cda:entryRelationship) or cda:entryRelationship[count(cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.12' and @extension='2019-08-01']])=1]">The entryRelationship, if present, SHALL contain exactly one [1..1] Antibiotic Treatment at Time of Transfer (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.12:2019-08-01) (CONF:4417-31382).</sch:assert>
      <sch:assert id="a-4417-31386" test="cda:code[@codeSystem]">This code SHALL contain exactly one [1..1] @codeSystem (CodeSystem: CDCNHSN urn:oid:2.16.840.1.113883.6.277) (CONF:4417-31386).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-errors" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.5' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4417-11782-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.3.5' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.12' and @extension = '2019-08-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.5:2019-08-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-errors-CL" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.5' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-errors-abstract" abstract="true">
      <sch:assert id="a-4544-31197" test="count(cda:component)=1">SHALL contain exactly one [1..1] component (CONF:4544-31197).</sch:assert>
      <sch:assert id="a-4544-31198" test="cda:component[count(cda:structuredBody)=1]">This component SHALL contain exactly one [1..1] structuredBody (CONF:4544-31198).</sch:assert>
      <sch:assert id="a-4544-31199" test="cda:component/cda:structuredBody[count(cda:component[count(cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.3' and @extension='2023-02-01']])=1])=1]">This structuredBody SHALL contain exactly one [1..1] component (CONF:4544-31199) such that it SHALL contain exactly one [1..1] Summary Data Section LTCF (V2) (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.2.3:2023-02-01) (CONF:4544-31200).</sch:assert>
      <sch:assert id="a-4544-31201" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.2'][@extension='2023-02-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4544-31201) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.1.2" (CONF:4544-31202). SHALL contain exactly one [1..1] @extension="2023-02-01" (CONF:4544-31203).</sch:assert>
      <sch:assert id="a-4544-31262" test="count(cda:documentationOf)=1">SHALL contain exactly one [1..1] documentationOf (CONF:4544-31262).</sch:assert>
      <sch:assert id="a-4544-31263" test="cda:documentationOf[count(cda:serviceEvent)=1]">This documentationOf SHALL contain exactly one [1..1] serviceEvent (CONF:4544-31263).</sch:assert>
      <sch:assert id="a-4544-31264" test="cda:documentationOf/cda:serviceEvent[count(cda:effectiveTime)=1]">This serviceEvent SHALL contain exactly one [1..1] effectiveTime (CONF:4544-31264).</sch:assert>
      <sch:assert id="a-4544-31391" test="cda:documentationOf/cda:serviceEvent[count(cda:code)=1]">This serviceEvent SHALL contain exactly one [1..1] code (CONF:4544-31391).</sch:assert>
      <sch:assert id="a-4544-31268" test="count(cda:participant[count(cda:associatedEntity[count(cda:id)=1])=1])=1">SHALL contain exactly one [1..1] participant (CONF:4544-31268) such that it SHALL contain exactly one [1..1] associatedEntity (CONF:4544-31269). This associatedEntity SHALL contain exactly one [1..1] id (CONF:4544-31273).</sch:assert>
      <sch:assert id="a-4544-31270" test="count(cda:participant[count(cda:associatedEntity[count(cda:code)=1])=1])=1">SHALL contain exactly one [1..1] participant (CONF:4544-31270) such that it SHALL contain exactly one [1..1] associatedEntity (CONF:4544-31271). This associatedEntity SHALL contain exactly one [1..1] code (CONF:4544-31272).</sch:assert>
      <sch:assert id="a-4544-31248" test="count(cda:title)=1">SHALL contain exactly one [1..1] title (CONF:4544-31248).</sch:assert>
      <sch:assert id="a-4544-31266" test="cda:documentationOf/cda:serviceEvent/cda:effectiveTime[count(cda:low)=1]">This effectiveTime SHALL contain exactly one [1..1] low (CONF:4544-31266).</sch:assert>
      <sch:assert id="a-4544-31267" test="cda:documentationOf/cda:serviceEvent/cda:effectiveTime[count(cda:high)=1]">This effectiveTime SHALL contain exactly one [1..1] high (CONF:4544-31267).</sch:assert>
      <sch:assert id="a-4544-31392" test="cda:documentationOf/cda:serviceEvent/cda:code[@code='1891-1']">This code SHALL contain exactly one [1..1] @code="1891-1" MDRO and CDI LabID Event Reporting Monthly Summary Data for LTCF (CONF:4544-31392).</sch:assert>
      <sch:assert id="a-4544-31393" test="cda:documentationOf/cda:serviceEvent/cda:code[@codeSystem='2.16.840.1.113883.6.277']">This code SHALL contain exactly one [1..1] @codeSystem="2.16.840.1.113883.6.277" (CodeSystem: CDCNHSN urn:oid:2.16.840.1.113883.6.277 STATIC) (CONF:4544-31393).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-errors" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.2' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-errors-abstract" />
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-31268-branch-31268-errors-abstract" abstract="true">
      <sch:assert id="a-4544-31428-branch-31268" test="cda:associatedEntity/cda:id[@root]">This id SHALL contain exactly one [1..1] @root (CONF:4544-31428).</sch:assert>
      <sch:assert id="a-4544-31429-branch-31268" test="cda:associatedEntity/cda:id[@extension='FACWIDEIN']">This id SHALL contain exactly one [1..1] @extension="FACWIDEIN" (CONF:4544-31429).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-31268-branch-31268-errors" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.2' and @extension='2023-02-01']]/cda:participant[cda:associatedEntity[cda:id]]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-31268-branch-31268-errors-abstract" />
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-31270-branch-31270-errors-abstract" abstract="true">
      <sch:assert id="a-4544-31274-branch-31270" test="cda:associatedEntity/cda:code[@code='389109008' and @codeSystem='2.16.840.1.113883.6.96']">This code SHALL contain exactly one [1..1] @code="389109008" Group (social concept) (CodeSystem: SNOMED CT urn:oid:2.16.840.1.113883.6.96) (CONF:4544-31274).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-31270-branch-31270-errors" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.2' and @extension='2023-02-01']]/cda:participant[cda:associatedEntity[cda:code]]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-31270-branch-31270-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4544-12677-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.1.2' and @extension = '2023-02-01') and @root != '2.16.840.1.113883.10.20.5.4.28' and not(@root = '2.16.840.1.113883.10.20.5.1.2.3' and @extension = '2023-02-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.15' and @extension = '2023-02-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.14' and @extension = '2023-02-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.1.2:2023-02-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-errors-CL" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.2' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-errors-abstract" abstract="true">
      <sch:assert id="a-4544-31320" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.14'][@extension='2023-02-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4544-31320) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.3.14" (CONF:4544-31326). SHALL contain exactly one [1..1] @extension="2023-02-01" (CONF:4544-31336).</sch:assert>
      <sch:assert id="a-4544-31321" test="count(cda:code)=1">SHALL contain exactly one [1..1] code (CONF:4544-31321).</sch:assert>
      <sch:assert id="a-4544-31322" test="count(cda:statusCode)=1">SHALL contain exactly one [1..1] statusCode (CONF:4544-31322).</sch:assert>
      <sch:assert id="a-4544-31323" test="count(cda:value)=1">SHALL contain exactly one [1..1] value (CONF:4544-31323).</sch:assert>
      <!--No schematron defined for primitive constraint 194385 on template 12678-->
      <sch:assert id="a-4544-31332-c" test="not(tested)">If this is a MDRO and CDI Monthly Summary Data Report, NHSN protocol requires, at the time of publication, the code shall be selected from [Codes for MDRO and CDI Summary Data LTCF (2.16.840.1.113883.10.20.5.1.5.9.2)](#Codes_for_MDRO_and_CDI_Summary_Data_LTC) (CONF:4544-31332).</sch:assert>
      <sch:assert id="a-4544-31334" test="cda:statusCode[@code='completed']">This statusCode SHALL contain exactly one [1..1] @code="completed" Completed (CodeSystem: HL7ActStatus urn:oid:2.16.840.1.113883.5.14) (CONF:4544-31334).</sch:assert>
      <sch:assert id="a-4544-31335-c" test="(cda:value/@xsi:type='PQ' and cda:value/@unit='d') or (cda:value/@xsi:type='INT') or (cda:value/@xsi:type='CD')">If the observation reports a number of days, the value of value/xsi:type SHALL be PQ and the value of value/@unit SHALL be d. If the observation reports a number of residents, episodes, or events the value of value/@xsi:type SHALL be INT. If the value is a code, the value of value/@xsi:type SHALL be CD (CONF:4544-31335).</sch:assert>
      <sch:assert id="a-4544-31324" test="@classCode='OBS'">SHALL contain exactly one [1..1] @classCode="OBS" Observation (CodeSystem: HL7ActClass urn:oid:2.16.840.1.113883.5.6) (CONF:4544-31324).</sch:assert>
      <sch:assert id="a-4544-31325" test="@moodCode='EVN'">SHALL contain exactly one [1..1] @moodCode="EVN" Event (CodeSystem: HL7ActMood urn:oid:2.16.840.1.113883.5.1001) (CONF:4544-31325).</sch:assert>
      <!--No schematron defined for primitive constraint 194390 on template 12678-->
      <sch:assert id="a-4544-31430-c" test="not(tested)">If this is a MDRO and CDI Monthly Summary Data Report, NHSN protocol requires, at the time of publication, the code shall be selected from [Codes for Denominators for Long Term Care Locations LTCF (2.16.840.1.113883.10.20.5.1.5.9.4)](#Codes_for_Denominators_for_Long_Term_Ca) (CONF:4544-31430).</sch:assert>
      <!--No schematron defined for primitive constraint 194391 on template 12678-->
      <sch:assert id="a-4544-31431-c" test="not(tested)">If this is a MDRO and CDI Monthly Summary Data Report, NHSN protocol requires, at the time of publication, the code shall be selected from [Codes for Prevention Process Measures LTCF (2.16.840.1.113883.10.20.5.1.5.9.5)](#Codes_for_Prevention_Process_Measures_L) (CONF:4544-31431).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-errors" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.14' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4544-12678-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.3.14' and @extension = '2023-02-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.14:2023-02-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-errors-CL" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.14' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-errors-abstract" abstract="true">
      <sch:assert id="a-4544-31337" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.15'][@extension='2023-02-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4544-31337) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.3.15" (CONF:4544-31344). SHALL contain exactly one [1..1] @extension="2023-02-01" (CONF:4544-31351).</sch:assert>
      <sch:assert id="a-4544-31338" test="count(cda:participant[@typeCode='LOC'][count(cda:participantRole[@classCode='SDLOC'])=1])=1">SHALL contain exactly one [1..1] participant (CONF:4544-31338) such that it SHALL contain exactly one [1..1] participantRole (CONF:4544-31339). This participantRole SHALL contain exactly one [1..1] @classCode="SDLOC" Service Delivery Location (CodeSystem: HL7EntityClass urn:oid:2.16.840.1.113883.5.41 STATIC) (CONF:4544-31346). SHALL contain exactly one [1..1] @typeCode="LOC" Location (CodeSystem: HL7ParticipationType urn:oid:2.16.840.1.113883.5.90 STATIC) (CONF:4544-31345).</sch:assert>
      <sch:assert id="a-4544-31340" test="count(cda:entryRelationship[@typeCode='COMP']) &gt; 0">SHALL contain at least one [1..*] entryRelationship (CONF:4544-31340) such that it SHALL contain exactly one [1..1] @typeCode="COMP" Has component (CodeSystem: HL7ActRelationshipType urn:oid:2.16.840.1.113883.5.1002 STATIC) (CONF:4544-31350).</sch:assert>
      <sch:assert id="a-4544-31342" test="@classCode='ENC'">SHALL contain exactly one [1..1] @classCode="ENC" Encounter (CodeSystem: HL7ActClass urn:oid:2.16.840.1.113883.5.6 STATIC) (CONF:4544-31342).</sch:assert>
      <sch:assert id="a-4544-31343" test="@moodCode='EVN'">SHALL contain exactly one [1..1] @moodCode="EVN" Event (CodeSystem: HL7ActMood urn:oid:2.16.840.1.113883.5.1001 STATIC) (CONF:4544-31343).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-errors" context="cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.15' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-errors-abstract" />
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-31338-branch-31338-errors-abstract" abstract="true">
      <sch:assert id="a-4544-31362-branch-31338" test="cda:participantRole[count(cda:id)=1]">This participantRole SHALL contain exactly one [1..1] id (CONF:4544-31362).</sch:assert>
      <sch:assert id="a-4544-31363-branch-31338" test="cda:participantRole/cda:id[@root]">This id SHALL contain exactly one [1..1] @root (CONF:4544-31363).</sch:assert>
      <sch:assert id="a-4544-31364-branch-31338" test="cda:participantRole/cda:id[@extension]">This id SHALL contain exactly one [1..1] @extension (CONF:4544-31364).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-31338-branch-31338-errors" context="cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.15' and @extension='2023-02-01']]/cda:participant[cda:participantRole[@classCode='SDLOC']][@typeCode='LOC']">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-31338-branch-31338-errors-abstract" />
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-31340-branch-31340-errors-abstract" abstract="true">
      <sch:assert id="a-4544-31341-branch-31340" test="count(cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.14' and @extension='2023-02-01']])=1">SHALL contain exactly one [1..1] Summary Data Observation LTCF (V2) (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.14:2023-02-01) (CONF:4544-31341).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-31340-branch-31340-errors" context="cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.15' and @extension='2023-02-01']]/cda:entryRelationship[@typeCode='COMP']">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-31340-branch-31340-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4544-12679-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.3.15' and @extension = '2023-02-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.14' and @extension = '2023-02-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.15:2023-02-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-errors-CL" context="cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.15' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-errors-abstract" abstract="true">
      <sch:assert id="a-4544-31187" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.3'][@extension='2023-02-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:4544-31187) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.2.3" (CONF:4544-31193). SHALL contain exactly one [1..1] @extension="2023-02-01" (CONF:4544-31194).</sch:assert>
      <sch:assert id="a-4544-31188" test="count(cda:code)=1">SHALL contain exactly one [1..1] code (CONF:4544-31188).</sch:assert>
      <sch:assert id="a-4544-31191" test="count(cda:entry[count(cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.15' and @extension='2023-02-01']])=1])=1">SHALL contain exactly one [1..1] entry (CONF:4544-31191) such that it SHALL contain exactly one [1..1] Summary Encounter LTCF (V2) (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.3.15:2023-02-01) (CONF:4544-31352).</sch:assert>
      <sch:assert id="a-4544-31195" test="cda:code[@code='51900-9']">This code SHALL contain exactly one [1..1] @code="51900-9" Summary Data Section (CONF:4544-31195).</sch:assert>
      <sch:assert id="a-4544-31196" test="cda:code[@codeSystem='2.16.840.1.113883.6.1']">This code SHALL contain exactly one [1..1] @codeSystem="2.16.840.1.113883.6.1" (CodeSystem: LOINC urn:oid:2.16.840.1.113883.6.1) (CONF:4544-31196).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-errors" context="cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.3' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-4544-12680-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.2.3' and @extension = '2023-02-01') and @root != '2.16.840.1.113883.10.20.5.4.26' and not(@root = '2.16.840.1.113883.10.20.5.1.3.15' and @extension = '2023-02-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.14' and @extension = '2023-02-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.2.3:2023-02-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-errors-CL" context="cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.3' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-errors-abstract" abstract="true">
      <sch:assert id="a-5552-31399" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.3'][@extension='2023-12-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:5552-31399) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.1.3" (CONF:5552-31406). SHALL contain exactly one [1..1] @extension="2023-12-01" (CONF:5552-31415).</sch:assert>
      <sch:assert id="a-5552-31400" test="count(cda:recordTarget)=1">SHALL contain exactly one [1..1] recordTarget (CONF:5552-31400).</sch:assert>
      <sch:assert id="a-5552-31401" test="cda:recordTarget[count(cda:patientRole)=1]">This recordTarget SHALL contain exactly one [1..1] patientRole (CONF:5552-31401).</sch:assert>
      <sch:assert id="a-5552-31402" test="cda:recordTarget/cda:patientRole[count(cda:id) &gt; 0]">This patientRole SHALL contain at least one [1..*] id (CONF:5552-31402).</sch:assert>
      <sch:assert id="a-5552-31403" test="cda:recordTarget/cda:patientRole[count(cda:patient)=1]">This patientRole SHALL contain exactly one [1..1] patient (CONF:5552-31403).</sch:assert>
      <sch:assert id="a-5552-31404" test="cda:recordTarget/cda:patientRole/cda:patient[count(cda:administrativeGenderCode)=1]">This patient SHALL contain exactly one [1..1] administrativeGenderCode (CONF:5552-31404).</sch:assert>
      <sch:assert id="a-5552-31405" test="cda:recordTarget/cda:patientRole/cda:patient[count(cda:birthTime)=1]">This patient SHALL contain exactly one [1..1] birthTime (CONF:5552-31405).</sch:assert>
      <sch:assert id="a-5552-31412" test="cda:recordTarget/cda:patientRole/cda:patient[count(cda:raceCode)=1]">This patient SHALL contain exactly one [1..1] raceCode, which SHALL be selected from ValueSet NHSNRaceCategory urn:oid:2.16.840.1.114222.4.11.7232 DYNAMIC (CONF:5552-31412).</sch:assert>
      <sch:assert id="a-5552-31413" test="cda:recordTarget/cda:patientRole/cda:patient[count(cda:ethnicGroupCode)=1]">This patient SHALL contain exactly one [1..1] ethnicGroupCode (ValueSet: Ethnicity urn:oid:2.16.840.1.114222.4.11.837 DYNAMIC) (CONF:5552-31413).</sch:assert>
      <sch:assert id="a-5552-31407" test="cda:recordTarget/cda:patientRole/cda:id[@root]">Such ids SHALL contain exactly one [1..1] @root (CONF:5552-31407).</sch:assert>
      <sch:assert id="a-5552-31408" test="cda:recordTarget/cda:patientRole/cda:id[@extension]">Such ids SHALL contain exactly one [1..1] @extension (CONF:5552-31408).</sch:assert>
      <sch:assert id="a-5552-31410" test="cda:recordTarget/cda:patientRole/cda:patient/cda:administrativeGenderCode[@code]">This administrativeGenderCode SHALL contain exactly one [1..1] @code, which SHALL be selected from ValueSet Administrative Gender (HL7 V3) urn:oid:2.16.840.1.113883.1.11.1 DYNAMIC (CONF:5552-31410).</sch:assert>
      <sch:assert id="a-5552-31411" test="cda:recordTarget/cda:patientRole/cda:patient/cda:birthTime[@value]">This birthTime SHALL contain exactly one [1..1] @value (CONF:5552-31411).</sch:assert>
      <sch:assert id="a-5552-31420" test="count(cda:component)=1">SHALL contain exactly one [1..1] component (CONF:5552-31420).</sch:assert>
      <sch:assert id="a-5552-31421" test="cda:component[count(cda:structuredBody)=1]">This component SHALL contain exactly one [1..1] structuredBody (CONF:5552-31421).</sch:assert>
      <sch:assert id="a-5552-31422" test="cda:component/cda:structuredBody[count(cda:component[count(cda:section)=1]) &gt; 0]">This structuredBody SHALL contain at least one [1..*] component (CONF:5552-31422) such that it SHALL contain exactly one [1..1] NHSN Social History Section (V2) (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.5.81:2023-12-01) (CONF:5552-31423).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-errors" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.3' and @extension='2023-12-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-errors">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-errors-abstract" abstract="true">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-errors-abstract" />
      <sch:assert id="a-5552-30977" test="count(cda:componentOf)=1">SHALL contain exactly one [1..1] componentOf (CONF:5552-30977).</sch:assert>
      <sch:assert id="a-5552-30978" test="cda:componentOf[count(cda:encompassingEncounter)=1]">This componentOf SHALL contain exactly one [1..1] encompassingEncounter (CONF:5552-30978).</sch:assert>
      <sch:assert id="a-5552-30979" test="cda:componentOf/cda:encompassingEncounter[count(cda:effectiveTime)=1]">This encompassingEncounter SHALL contain exactly one [1..1] effectiveTime (CONF:5552-30979).</sch:assert>
      <sch:assert id="a-5552-30981" test="cda:componentOf/cda:encompassingEncounter[count(cda:location)=1]">This encompassingEncounter SHALL contain exactly one [1..1] location (CONF:5552-30981).</sch:assert>
      <sch:assert id="a-5552-30982" test="cda:componentOf/cda:encompassingEncounter/cda:location[count(cda:healthCareFacility)=1]">This location SHALL contain exactly one [1..1] healthCareFacility (CONF:5552-30982).</sch:assert>
      <sch:assert id="a-5552-30983" test="cda:componentOf/cda:encompassingEncounter/cda:location/cda:healthCareFacility[count(cda:id)=1]">This healthCareFacility SHALL contain exactly one [1..1] id (CONF:5552-30983).</sch:assert>
      <sch:assert id="a-5552-30984" test="count(cda:component)=1">SHALL contain exactly one [1..1] component (CONF:5552-30984).</sch:assert>
      <sch:assert id="a-5552-30985" test="cda:component[count(cda:structuredBody)=1]">This component SHALL contain exactly one [1..1] structuredBody (CONF:5552-30985).</sch:assert>
      <sch:assert id="a-5552-30986" test="cda:component/cda:structuredBody[count(cda:component[count(cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.1' and @extension='2019-08-01']])=1])=1]">This structuredBody SHALL contain exactly one [1..1] component (CONF:5552-30986) such that it SHALL contain exactly one [1..1] Findings Section in a Laboratory Identified Report LTCF (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.2.1:2019-08-01) (CONF:5552-30987).</sch:assert>
      <sch:assert id="a-5552-30988" test="cda:component/cda:structuredBody[count(cda:component[count(cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.2' and @extension='2019-08-01']])=1])=1]">This structuredBody SHALL contain exactly one [1..1] component (CONF:5552-30988) such that it SHALL contain exactly one [1..1] Encounters Section in an LTCF Report (identifier: urn:hl7ii:2.16.840.1.113883.10.20.5.1.2.2:2019-08-01) (CONF:5552-30989).</sch:assert>
      <sch:assert id="a-5552-30990" test="count(cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.1'][@extension='2023-12-01'])=1">SHALL contain exactly one [1..1] templateId (CONF:5552-30990) such that it SHALL contain exactly one [1..1] @root="2.16.840.1.113883.10.20.5.1.1.1" (CONF:5552-30998). SHALL contain exactly one [1..1] @extension="2023-12-01" (CONF:5552-30999).</sch:assert>
      <sch:assert id="a-5552-31427" test="cda:componentOf/cda:encompassingEncounter/cda:effectiveTime[count(cda:low)=1]">This effectiveTime SHALL contain exactly one [1..1] low (CONF:5552-31427).</sch:assert>
      <sch:assert id="a-5552-30996" test="cda:componentOf/cda:encompassingEncounter/cda:location/cda:healthCareFacility/cda:id[@root]">This id SHALL contain exactly one [1..1] @root (CONF:5552-30996).</sch:assert>
      <sch:assert id="a-5552-31360" test="cda:componentOf/cda:encompassingEncounter/cda:location/cda:healthCareFacility/cda:id[@extension]">This id SHALL contain exactly one [1..1] @extension (CONF:5552-31360).</sch:assert>
      <sch:assert id="a-5552-31361" test="cda:componentOf/cda:encompassingEncounter/cda:location/cda:healthCareFacility[count(cda:code)=1]">This healthCareFacility SHALL contain exactly one [1..1] code, which SHALL be selected from ValueSet NHSNPrimaryResidentServiceType urn:oid:2.16.840.1.113883.10.20.5.1.5.9.3 DYNAMIC (CONF:5552-31361).</sch:assert>
      <sch:assert id="a-5552-31247" test="count(cda:title)=1">SHALL contain exactly one [1..1] title (CONF:5552-31247).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-errors" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.1' and @extension='2023-12-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-errors-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-CLOSEDTEMPLATE">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-errors-CL-abstract" abstract="true">
      <!-- SG: Supressed closed template checking due to flagging "parents of parent" as invalid. -->
<!-- <sch:assert id="a-5552-13777-CL" test="count(.//cda:templateId[not(@root = '2.16.840.1.113883.10.20.5.1.1.1' and @extension = '2023-12-01') and not(@root = '2.16.840.1.113883.10.20.5.1.1.3' and @extension = '2023-12-01') and not(@root = '2.16.840.1.113883.10.20.5.1.1.3' and @extension = '2023-12-01') and not(@root = '2.16.840.1.113883.10.20.5.1.2.1' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.3' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.2' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.2.2' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.4' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.5' and @extension = '2019-08-01') and not(@root = '2.16.840.1.113883.10.20.5.1.3.12' and @extension = '2019-08-01')])=0">'urn:hl7ii:2.16.840.1.113883.10.20.5.1.1.1:2023-12-01' is a closed template, only defined templates are allowed.</sch:assert> -->
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-errors-CL" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.1' and @extension='2023-12-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-errors-CL-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-warnings" context="cda:procedure[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.2' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.2-2019-08-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-warnings" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.3' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.3-2019-08-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-warnings" context="cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.1' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.1-2019-08-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-warnings" context="cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.4' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.4-2019-08-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-warnings" context="cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.2' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.2-2019-08-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-warnings" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.12' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.12-2019-08-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-warnings-abstract" abstract="true">
      <sch:assert id="a-4417-31390" test="cda:effectiveTime[count(cda:low)=1]">This effectiveTime SHOULD contain zero or one [0..1] low (CONF:4417-31390).</sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-warnings" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.5' and @extension='2019-08-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.5-2019-08-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-warnings" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.2' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.2-2023-02-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-warnings" context="cda:observation[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.14' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.14-2023-02-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-warnings" context="cda:encounter[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.3.15' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.3.15-2023-02-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-warnings" context="cda:section[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.2.3' and @extension='2023-02-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.2.3-2023-02-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-warnings-abstract" abstract="true">
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-warnings" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.3' and @extension='2023-12-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
  <sch:pattern id="p-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-warnings">
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-warnings-abstract" abstract="true">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.3-2023-12-01-warnings-abstract" />
      <sch:assert test="."></sch:assert>
    </sch:rule>
    <sch:rule id="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-warnings" context="cda:ClinicalDocument[cda:templateId[@root='2.16.840.1.113883.10.20.5.1.1.1' and @extension='2023-12-01']]">
      <sch:extends rule="r-urn-hl7ii-2.16.840.1.113883.10.20.5.1.1.1-2023-12-01-warnings-abstract" />
    </sch:rule>
  </sch:pattern>
</sch:schema>